.header-nav {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;

    .header-nav-contact {
        width: 14rem;
        height: 4rem;
        display: block;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        text-align: center;
        line-height: 4rem;
        transition: all 0.3s;
        &:hover {
            background-color: $cyan;
            border: 1px solid $cyan;
            color: $dark-gray;
            transition: all 0.3s;
        }
    }

    .header-nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-container {
            width: 18rem;
            display: block;
            text-decoration: none;
            @include breakpoint(fhd) {
                width: 23rem;
            }
        }

        .header-nav-container-desktop {
            display: none;
            @include breakpoint(xl) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;

                li {
                    margin-right: 2rem;
                    @include breakpoint(xxl) {
                        margin-right: 2.5rem;
                    }

                    > a {
                        color: white;
                        text-decoration: none;
                        display: block;
                        transition: color 0.3s;
                        &:hover {
                            color: $cyan;
                            transition: color 0.3s;
                        }
                        @include breakpoint(fhd) {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }

        .header-menu-bars-mobile {
            width: 2.5rem;
            height: 1.8rem;
            display: block;
            position: relative;
            cursor: pointer;
            &.cross-bars {

                > span {
                    transition: all 0.3s;
                    &:first-of-type, &:nth-of-type(2) {
                        top: 50%;
                        transform: rotate(225deg);
                    }
                    &:last-of-type {
                        top: 50%;
                        transform: rotate(-225deg);
                    }
                }
            }
            @include breakpoint(xl) {
                display: none;
            }

            > span {
                width: 100%;
                height: 0.1rem;
                background-color: white;
                display: block;
                position: absolute;
                transition: all 0.3s;
                &:first-of-type {
                    top: 0;
                }
                &:nth-of-type(2) {
                    top: 0.8rem;
                }
                &:last-of-type {
                    top: 1.6rem;
                }
            }
        }
    }

    .header-mobile-menu {
        width: 30rem;
        height: 100%;
        min-height: 100%;
        padding: 3rem;
        background-color: #062b47;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-30rem);
        transition: transform 0.3s;
        &.mobile-menu-open {
            transform: translateX(0);
            transition: transform 0.3s;
        }
        @include breakpoint(xl) {
            display: none;
        }

        ul {
            margin-bottom: 3rem;
            list-style-type: none;
            padding: 0;

            > li {
                margin-bottom: 3rem;
                &:last-of-type {
                    margin-bottom: 0;
                }

                > a {
                    color: white;
                    display: inline-block;
                    cursor: pointer;
                    text-decoration: none;
                    transition: color 0.3s;
                    &:hover {
                        color: $cyan;
                        transition: color 0.3s;
                    }
                }
            }
        }

        .header-mobile-menu-logo {
            position: absolute;
            bottom: 5rem;
            left: 50%;
            transform: translate(-50%, 0);
            @include breakpoint(sm) {
                display: none;
            }
            @include breakpoint(md) {
                display: block;
            }
        }
    }
}
